In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

# Who are the volunteers?

In [2]:
df = pd.read_csv('../data/professionals.csv', parse_dates=['professionals_date_joined'])

In [3]:
df

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19
1,f718dcf6d2ec4cb0a52a9db59d7f9e67,NaN,NaN,NaN,2011-10-05 20:49:21
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26
3,977428d851b24183b223be0eb8619a8c,"Boston, Massachusetts",NaN,NaN,2011-11-09 20:39:29
4,e2d57e5041a44f489288397c9904c2b2,NaN,NaN,NaN,2011-12-10 22:14:44
5,c9bfa93898594cbbace436deca644c64,NaN,NaN,NaN,2011-12-12 14:25:46
6,ed85488fb5e941eaa97014137fcbf317,NaN,NaN,NaN,2011-12-28 03:02:04
7,102fb92c28034ad988b593d0111cb4bb,NaN,NaN,NaN,2011-12-26 05:00:00
8,5a4a16842ec64430ac3f916aacf35fe1,NaN,NaN,NaN,2011-12-26 05:00:00
9,81999d5ad93549dab55636a545e84f2a,NaN,NaN,NaN,2011-12-26 05:00:00
10,7d425e8d7cfb4fe7b0702fff4d6d84e7,"Milwaukee, Wisconsin",NaN,Ph.D. Student in Political Science at Harvard ...,2011-12-26 05:00:00
11,7daf1e6dfb3443b99b240890f0a4d69b,NaN,NaN,NaN,2011-12-26 05:00:00
12,b7dc946585734ab8acfbeeeb0d76af20,NaN,NaN,NaN,2011-12-26 05:00:00
13,4863a65cd35b42a1bb89f3ecfc8fa2fe,NaN,NaN,NaN,2011-12-26 05:00:00
14,d07bdc32226e4d2c826da05b39a0f8f7,NaN,NaN,NaN,2011-12-26 05:00:00
15,68ecc66323b8418092fdd724aaf5be94,"New York, New York",Special Events,Event Hospitality & Operations Specialist,2011-12-26 05:00:00
16,2b17cd431763494fa6096617645ba173,NaN,NaN,NaN,2011-12-26 05:00:00
17,4ca2656185ca4ed298111128d2e1679e,NaN,NaN,NaN,2011-12-26 05:00:00
18,971937860c164896a0771bf502bad482,"Wilmington, Vermont",NaN,NaN,2011-12-26 05:00:00
19,0c9a2748560541be9fe2df0d7be88282,"New York, New York",NaN,NaN,2011-12-26 05:00:00
20,b6af2f682f0e4bf2af7783c1980820e6,NaN,NaN,NaN,2011-12-26 05:00:00
21,752fe9d006c246a285787563ddb69bf8,NaN,NaN,NaN,2011-12-26 05:00:00
22,0891498de2ed423f85ec713e00b53561,NaN,NaN,NaN,2011-12-26 05:00:00
23,8074bb4fb8894ab99c2716ea6ef91ff9,NaN,NaN,NaN,2011-12-26 05:00:00
24,5f77e0a2c3a144dda336df2294a64530,NaN,NaN,NaN,2011-12-26 05:00:00
25,8ff80b2548fa4e68892da71d1e320289,NaN,NaN,NaN,2011-12-26 05:00:00
26,20c67345727444678b7e91267f1c1d4b,NaN,NaN,NaN,2011-12-26 05:00:00
27,2a8328f6ceb548699a64293f986f3d19,"Washington, Washington",NaN,NaN,2011-12-26 05:00:00
28,8e75aca48b434c79b8b4729ef871cb50,"Boston, Massachusetts",NaN,NaN,2011-12-26 05:00:00
29,01b3e033848b41f6b7a55cefc59ba61a,"San Francisco, California",NaN,NaN,2011-12-26 05:00:00
...,...,...,...,...,...
28122,95744d70d19542e78573da8fb3ece5b1,"Long Beach, California",Dev Sec Ops,NaN,2019-01-31 20:30:43
28123,c6500bc9c763400587b3e3e3bcf706c4,"Middletown, New Jersey",AT&T,Technical Solution Architect,2019-01-31 20:34:57
28124,f9f5c7871ee54771818dee42a4c2fdde,"San Diego, California",Telecommunications,"Sr. Admin., Environmental Health & Safety at AT&T",2019-01-31 20:40:48
28125,0a1fb58cf86b49b48fe292fe6b83ccd9,"New York, New York",Graphic Design,Graphic Designer,2019-01-31 20:59:52
28126,c625e29468a3466da14ccbd64257b20e,"Kingston, Washington",telecommunications,"Assistant, ATO",2019-01-31 21:48:24
28127,8798592b926248aca308f800bdfc20eb,"Seattle, Washington",Telecommunications,Senior Architect at AT&T,2019-01-31 22:36:05
28128,4ae18ce4fdd64758b48b90cb2a3a2570,"Sacramento, California",telecommunications,NaN,2019-01-31 22:40:37
28129,2545bdea776345749705f96f027f62bc,"Chicago, Illinois",Computer Software,Project Manager at AT&T,2019-01-31 22:43:12
28130,46277aad38704d319e8f953b5592819c,"Chicago, Illinois",Telecom,VNF Engineer,2019-01-31 22:53:18
28131,a3f8dc19a2f842eeaf01dc03cf6cd421,"Lisle, Illinois",Telecommunications,Sales Compensation Manager at AT&T,2019-01-31 22:57:05
28132,5157275d7d6f49e89147673f6663eb7c,"Berwyn, Illinois",Telecommunications,Sales Operation Manager,2019-01-31 22:58:00
28133,d0525a4744544177a3087b364a288fbd,"Englewood, Colorado",Telecommunications,System Engineer - API Operations - AT&T Partne...,2019-01-31 23:12:17
28134,8e5ddce083b24d7fbad682294aaeca93,"Austin, Texas",NaN,SR SERVICE MGR CUSTOMER RELATIONS,2019-01-31 23:15:33
28135,dff22fee90e74affad4d09bc2576fb66,Greater Los Angeles Area,Motion Pictures and Film,"Blogger/Editorial, Production Assistant, Offic...",2019-01-31 23:15:58
28136,f720e8d8e76c4e26b6051609a13c9ca5,"Mesa, Arizona",Telecommunications,AT&T,2019-01-31 23:17:24
28137,fbd3024a880e46a48be061ac80bed8b3,"Chicago, Illinois",Telecommunications,"Marketing, Event, Channel, Sales Executive",2019-01-31 23:18:20
28138,097b634500da45f19a4212850a221c42,"Seattle, Washington",Broadcast Media,Director of Operations for Global Video at AT&T,2019-01-31 23:20:21
28139,04c75b37d2bd40c6a5a061f55e770edb,"San Antonio, Texas",Information Technology and Services,Senior Specialist Systems Analyst at AT&T Gove...,2019-01-31 23:25:16
28140,3348f9e2590943ee99b35aab1cd277f8,"Pasadena, California",Telecommunications,Technical Sales Manager at AT&T,2019-01-31 23:25:47
28141,f2781b6dbf9a4099814138c069c6f3a4,"Lubbock, Texas",Telecommunications,Sr. Training Manager Delivery at AT&T,2019-01-31 23:27:59
28142,47d169f6ab93480f9ef500f4ef0c127f,NaN,Telecommunications,MGR OSP PLNG & ENGRG DESIGN,2019-01-31 23:29:17
28143,57a497a3dd214fe6880816c376211ddb,"Irving, Texas",Information Technology and Services,U-Verse Manager Technical Support at AT&T,2019-01-31 23:30:10
28144,fcf9ae3fef164c9d8b3387dfaafd56dc,"Woodland, California",Telecom,Systems Engineer,2019-01-31 23:34:25
28145,de0f1f642fd14a5bbea3b8d96da9638b,"Richardson, Texas",Telecommunications,Telecommunication,2019-01-31 23:34:52
28146,fda6f3b0021e48dfb14773e9e7291c2f,"San Diego, California",Telecom,Be Your Best!,2019-01-31 23:44:35
28147,9f267950ab8e43e2afcf564327049297,"El Segundo, California",Broadcast Media,"AVP, Technology at AT&T",2019-01-31 23:48:32
28148,4a7e1e5dd884488da283e1cab6ad11e0,"Alexandria, Virginia",Telecommunications,"Operations Manager, FirstNet Public Sector Sol...",2019-01-31 23:53:53
28149,ea75c5fce38348e0a151c3c346929e6a,"Berkeley, California",Electrical engineering Computer Software,GMA3 at Tesla,2019-01-31 23:56:16
28150,34f6222c3c02480ca2df8a3e4ba878d0,"Houston, Texas Area",Telecommunications,Customer Service Representative at AT&T,2019-01-31 23:58:31
28151,ebc523719253485bb35e94ca561eb051,"Dallas, Texas",Mobility and Entertainment,Director - Program and Project Management,2019-01-31 23:59:09

In [4]:
df.shape

(28152, 5)

In [5]:
df.dtypes

professionals_id                     object
professionals_location               object
professionals_industry               object
professionals_headline               object
professionals_date_joined    datetime64[ns]
dtype: object

In [6]:
df['professionals_id'] = df['professionals_id'].str.lower()
df['professionals_location'] = df['professionals_location'].str.lower()
df['professionals_industry'] = df['professionals_industry'].str.lower()
df['professionals_headline'] = df['professionals_headline'].str.lower()

In [7]:
df['professionals_location'] = df['professionals_location'].apply(str)

In [8]:
# Locations

In [9]:
df['professionals_location'].value_counts().head(50)

nan                                   3098
new york, new york                    1337
california, california                 864
greater new york city area             745
boston, massachusetts                  714
los angeles, california                617
atlanta, georgia                       578
chicago, illinois                      576
austin, texas                          574
houston, texas                         556
san francisco bay area                 513
san francisco, california              425
bengaluru, karnataka, india            394
philadelphia, pennsylvania             394
greater atlanta area                   383
dallas/fort worth area                 368
greater los angeles area               364
washington                             318
greater chicago area                   298
houston, texas area                    282
greater boston area                    280
washington d.c. metro area             271
united states                          263
dallas, texas                          241
san antonio, texas                     237
grapevine, texas                       234
detroit, michigan                      233
greater seattle area                   218
kirkland, washington                   211
greater philadelphia area              203
austin, texas area                     195
washington, washington                 193
tampa/st. petersburg, florida area     184
greater detroit area                   177
saint petersburg, florida              174
baltimore, maryland                    165
seattle, washington                    150
portland, oregon area                  119
tampa, florida                         118
ireland                                106
indiana, indiana                       104
greater pittsburgh area                102
baltimore, maryland area               102
portland, oregon                        99
irvine, california                      99
indianapolis, indiana area              98
san jose, california                    98
san antonio, texas area                 94
hartford, connecticut                   90
india                                   90
Name: professionals_location, dtype: int64

In [10]:
# Profession

In [11]:
df['professionals_industry'].value_counts().head(50)

telecommunications                      3173
information technology and services     2109
computer software                       1274
hospital and health care                 862
higher education                         802
accounting                               782
financial services                       640
education management                     593
marketing and advertising                526
internet                                 433
human resources                          377
mechanical or industrial engineering     359
management consulting                    354
research                                 319
non-profit organization management       293
law practice                             287
entertainment                            286
health, wellness and fitness             253
medical practice                         246
computer hardware                        241
mental health care                       222
biotechnology                            215
broadcast media                          201
pharmaceuticals                          198
airlines/aviation                        192
design                                   191
writing and editing                      181
computer games                           167
music                                    167
retail                                   166
environmental services                   152
legal services                           149
hospital & health care                   146
oil and energy                           146
sports                                   144
medical device                           143
media production                         141
insurance                                135
law enforcement                          131
computer and network security            120
professional training                    119
banking                                  119
aviation and aerospace                   119
public relations                         114
government administration                113
education                                110
primary/secondary                        109
staffing and recruiting                  108
civil engineering                        103
animation                                101
Name: professionals_industry, dtype: int64

In [12]:
from fuzzywuzzy import process

In [13]:
def correct_name(name, correct_names):
    if name in correct_names:
        return name

    new_name, score = process.extractOne(name, correct_names)
    if score < 80:
        np.append(correct_names, name)
        return name
    else:
        return new_name

In [14]:
world_cities = pd.read_csv("../data/world_cities.csv")
world_cities['complete_name'] = world_cities['name'].astype(str) + ', ' + world_cities['subcountry'].astype(str) + ', ' + world_cities['country'].astype(str)
world_cities['complete_name'] = world_cities['complete_name'].str.lower()

In [15]:
world_cities.sample(10)

,name,country,subcountry,geonameid,complete_name
13220,Akkol’,Kazakhstan,Aqmola,1526797,"akkol’, aqmola, kazakhstan"
9218,Samrāla,India,Punjab,1257503,"samrāla, punjab, india"
2231,Araci,Brazil,Bahia,3471854,"araci, bahia, brazil"
17640,Aleksandrovskoye,Russia,Stavropol'skiy,582993,"aleksandrovskoye, stavropol'skiy, russia"
10656,Chinna Salem,India,Tamil Nadu,1274146,"chinna salem, tamil nadu, india"
4952,Harburg,Germany,Hamburg,2910685,"harburg, hamburg, germany"
21660,Drexel Heights,United States,Arizona,5293183,"drexel heights, arizona, united states"
20001,Vero Beach,United States,Florida,4176409,"vero beach, florida, united states"
18997,Çağlayancerit,Turkey,Kahramanmaraş,320004,"çağlayancerit, kahramanmaraş, turkey"
19879,Iona,United States,Florida,4159805,"iona, florida, united states"

In [16]:
correct_location = world_cities['complete_name'].values
correct_industry = []

In [17]:
df['professionals_location'] = df['professionals_location'].apply(lambda x : correct_name(x, correct_location))

KeyboardInterrupt:

In [18]:
correct_location

array(['les escaldes, escaldes-engordany, andorra',
       'andorra la vella, andorra la vella, andorra',
       'umm al qaywayn, umm al qaywayn, united arab emirates', ...,
       'beitbridge, matabeleland south, zimbabwe',
       'epworth, harare, zimbabwe', 'chitungwiza, harare, zimbabwe'],
      dtype=object)